body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #000; /* Fondo negro */
    margin: 0;
}

.container {
    text-align: center;
    background-color: #000; /* Fondo negro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Sombra blanca suave */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff; /* Texto blanco */
}

#timer {
    font-size: 48px;
    margin-bottom: 20px;
    color: #fff; /* Texto blanco */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #333; /* Fondo gris oscuro */
    color: #fff; /* Texto blanco */
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555; /* Cambio de color al pasar el mouse */
}

#status {
    margin-top: 20px;
    font-size: 18px;
    color: #fff; /* Texto blanco */
}

